.btn {
    border: none;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;

    &.success {
        background-color: #4CAF50;
    }
    
    &.error {
        background-color: red;
    }

    &:disabled,
    &[disabled] {        
        opacity: 0.65;
        cursor: not-allowed;
    }
}