.wrapper {
    background-color: #FFEC47;
    color: #3a4750;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
        border: 2px solid #3a4750;
        padding: 2px;
        background-color: #f0e582;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 24px;
            width: 24px;
        }
    }

    .money {
        color: green;
        font-size: 24px;
        font-weight: bold;
    }
}