@import "../../styles/variables.scss";

.wrapper {
    width: 100%;
    max-width: 560px;
    min-height: 110px;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 10px;
}

.forSale {
    position: relative;
    border: 2px dashed #eeeeee6c;
    text-align: center;
    cursor: not-allowed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &.available {
        background-color: #eeeeee6c;
        cursor: pointer;
    }

    .name {
        display: block;
        font-size: 24px;
        font-weight: bold;
    }

    .price {
        display: block;
        font-size: 18px;
    }

    button {
        width: 120px;
    }
}

.owned {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFEC47;
    border: 2px solid #c0ad02;

    .icon {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 90px;
        width: 90px;
        
        margin: 0 10px;
        padding: 5px;

        border-radius: 50px;
        background-color: $bg-color;

        img {
            object-fit: cover;
            width: 85%;
            height: 85%;
        }

        .manager {
            position: absolute;
        }

        .count {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 20px;
            padding: 2px 10px;
            text-align: center;

            background-color: red;
            border-radius: 25px;
        }
    }

    .infos {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        .name {
            color: $bg-color;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 4px;
        }
        
        .progress {
            position: relative;

            height: 30px;
            margin: 0 4px;
            padding: 4px;

            flex-grow: 1;
            background-color: $bg-color;
            border-radius: 10px;

            .bar {
                background-color: green;
                height: 100%;
                border-radius: 10px;
            }

            .timer {
                position: absolute;
                top: 10px;
                width: 100%;
                text-align: center;
                font-weight: bold;
            }
        }

        .actions {
            display: flex;
            flex-grow: 1;

            button {
                margin: 4px 4px;
                width: 50%;
                flex-grow: 1;
            }
        }
    }
}